<h1>Your upcoming dates</h1>
<p>Jeez, you're tragic</p>

<% @bookings.each do |booking| %>
<ul>
  <li>You, the loser, <%= booking.zero %></li>
  <li>Your date with <%= booking.hero %></li>
  <li> On: <%= booking.date %></li>
  <li><%= booking.description %></li>
</ul>

<% end %>
