<div class="show-holder booking-show">
  <h1>Your date!</h1>
  <div class="info">
    <p>You, the loser, <strong><%= @booking.zero.first_name %></strong>. Your date with <strong><%= @booking.hero.first_name %></strong>,</p>
    <p>On: <%= @booking.date %></p>
    <p>is booked for <%= @booking.description %>.</p>
    </div>
  <h4>Have a great time!</h4>
</div>
