<div class="home-page">
<div class="show-holder booking-show">
  <h1>Your date!</h1>
  <div class="info">
    <p><strong><%= @booking.zero.first_name %></strong>, your date with <strong><%= @booking.hero.first_name %></strong>,</p>
    <p>is going ahead on <%= @booking.date %></p>
    <p>Have a great time at <%= @booking.description %>.</p>
    </div>
  <h4>Have a great time!</h4>
</div>
</div>
