<div class="home-page">
  <div class="content">
      <h1>Zero Plus One</h1>
      <span id="typed-text"></span>
      <p><%= link_to "Find PlusOnes", users_path, class: "btn btn-flat home-btn" %></p>
  </div>
</div>





<!-- <h2>Find the perfect plus one for your awkward family event!</h2>
 -->
