<body class="home-page">
  <div>
      <h1>Zero Plus One</h1>
      <h2>Find the perfect plus one for your awkward family event!</h2>
      <p><%= link_to "Find plus ones", users_path, class: "btn btn-flat home-btn" %></p>
  </div>
</body>





