<div class="banner px-3" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('');">
    <h1>Zero Plus One</h1>
    <h2>Find the perfect plus one for your awkward family event!</h2>
    <p class="hero"><%= link_to "Find a hero", users_path, class: "btn btn-flat" %></p>
</div>
<hr>
  <div class="footer">
    <section class="social-icons">
      <ul>
        <li class="icons">
          <span class="icon"><i class="fab fa-facebook-f"></i></span>
          <span class="icon"><i class="fab fa-twitter"></i></span>
          <span class="icon"><i class="fab fa-instagram"></i></span>
        </li>
        <li>
          <div class="terms">
            <p>Terms</p>
            <p>Privacy</p>
            <p>Site Map</p>
          </div>
        </li>

      </ul>
    </section>
  </div>
</div>


<%# if user_signed_in? %>
      <!-- <p class="hero"><%#= link_to "Find a hero", users_path, class: "btn btn-gradient" %></p>
      <p class="log-out"><%#= link_to 'sign-out', destroy_user_session_path, method: :delete, class: "btn btn-gradient" %> </p> -->
    <%# else %>
     <!-- <p><%#= link_to "Log in", user_session_path, class: "btn btn-gradient" %></p>
    <%# end %> -->
