<div>
    <h1>Zero Plus One</h1>
    <h2>Find the perfect plus one for your awkward family event!</h2>
    <p><%= link_to "Find a hero", users_path, class: "btn btn-flat home-btn" %></p>
</div>

  <div class="footer">
    <section class="social-icons">
      <ul>
        <li class="icons">
         <span class="icon"><a href="#"><i class="fab fa-facebook-f"></i></a></span>
          <span class="icon"><a href="#"><i class="fab fa-twitter"></i></a></span>
          <span class="icon"><a href="#"><i class="fab fa-instagram"></i></a></span>
        </li>
        <li class="terms">
          <div >
            <p>Terms</p>
            <p>Privacy</p>
            <p>Site Map</p>
          </div>
        </li>

      </ul>
    </section>
  </div>
</div>



<%# if user_signed_in? %>
      <!-- <p class="hero"><%#= link_to "Find a hero", users_path, class: "btn btn-gradient" %></p>
      <p class="log-out"><%#= link_to 'sign-out', destroy_user_session_path, method: :delete, class: "btn btn-gradient" %> </p> -->
    <%# else %>
     <!-- <p><%#= link_to "Log in", user_session_path, class: "btn btn-gradient" %></p>
    <%# end %> -->
