
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'sign-out', destroy_user_session_path, method: :delete%>


<h1>Zero Plus One</h1>
<br>
<h2>Find the perfect plus one for your awkward family event!</h2>

<!-- <p>Find me in app/views/pages/home.html.erb</p>
 -->

<% @users.each do |user|  %>
  <div class="card" style="width: 18rem;">
    <img src="https://images.unsplash.com/photo-1444728399417-08d2aa39e6f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
    <div class="card-body">
      <h5 class="card-title"><%= user.first_name %></h5>
      <a href="#" class="btn btn-primary">View Hero</a>
    </div>
  </div>
<% end %>
