.banner {
  background-image:
  linear-gradient(
    rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),
    url(bloom.jpg);
  background-size: cover;
  height: 200px;
  position: relative;
  top: 16px;
  h1, h2, h3 {
    color: white
  }
  h1 {
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 40px;
    font-weight: bold;
  }
  h2 {
    font-size: 24px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
