.form-holder {
  background-color: #F2F2F2;
  margin: 0px 200px;
  padding: 50px;
  box-shadow: 2px 2px #FFBBB;
  border-radius: 8px;
  width: 700px;
  border: solid 2px;
}

.form-holder h1 {
  text-align: center;
}
