.form-holder {
  background-color: #F2F2F2;
  margin: 0px 200px;
  padding: 50px;
  box-shadow: 2px 2px #FFBBB;
  border-radius: 8px;
}

.form-label {
  color: yellow;
}

// .booking-btn {
//   color: white;
//   padding: 8px 24px;
//   border-radius: 4px;
//   background: #1EDD88;
//   transition: background 0.3s ease;
// }

// .booking-btn:hover {
//   background: #1BCB7F;
//   color: white;
// }
// #booking-btn {
//   width: 190px;
//   text-align: center;
//   background-color: #2B2F6B;

// }
