.navbar-lewagon {
  justify-content: space-between;
}

.navbar-transparent {
  background: transparent;
}

.navbar-purple {
  background: #2a2f6c;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 32px;
}

.nav-link-color {
  font-size: 20px !important;
  font-weight: 200px !important;
  color: white !important;
}

.bolt {
  font-size: 32px;
  color: white !important;
  margin-left: 10px;
  padding: 10px;
}

.nav-item  {
  color: white !important;
  margin-right: 20px;
}
.nav-item .active:hover {
  opacity: 1;
  color: black;
}
