.navbar-lewagon {
  justify-content: space-between;
  background: transparent;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 32px;
}

.nav-link-color {
  color: #8d3c2c !important;
  font-size: 20px !important;
  font-weight: 200px !important;
}

.bolt {
  color: #8d3c2c;
  font-size: 32px;
}
