.show-holder {
  background-color: white;
  margin: 48px 200px;
  padding: 20px;
  box-shadow: 2px 2px 2px gray;
  border-radius: 8px;
  width: 700px;
  line-height: 16px;
}

.show-holder h1 {
  text-align: center;
  color: black;
  margin: 0px;
}

.show-holder img {
  display: block;
  margin: 50px;
}
