.show-holder {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 2px 2px 2px gray;
  border-radius: 8px;
  width: 900px;
  line-height: 25px;
}

.show-holder h1 {
  text-align: center;
  color: black;
  margin: 0px;
  padding-top: 20px;
}

.show-holder img {
  display: block;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.info {
  margin: 40px;
}

.i {
display: inline;
}

.inline-buttons {
    padding-bottom: 20px;
    margin-bottom: 20px;
}



.inline-buttons .button {
    width: 100%;
    margin: 20px;

}

.show-holder ul {
  list-style-type: circle;
}

// .show-holder
// li:before {
//   content: '\f192';
//   font-family: 'FontAwesome';
//   float: left;
//   margin-left: -1.5em;
//   color: #0074D9;
// }


